.about {
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #101110, #0e100d, #0c0f0a, #0a0e05, #090d01);
    
}

/* ABOUT CONTENT SECTION CSS*/

.aboutContent {
    margin-top: 20px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.aboutimg {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}

img {
    border-radius: 50%;
    border: 2px solid firebrick;
    text-align: center;
}

.aboutdesc {
    flex: 70%;
    text-align: center;
}

.aboutdesc span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 92, 92);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 5px;
    text-shadow: #474747 3px 5px 2px;
}

.aboutdesc p {
    margin-top: 10px;
    font-size: 20px;
    padding: 20px 20px;
    text-align: justify;
    color: rgb(192, 191, 189);
}

.aboutdesc p span{
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 600;
    color: mediumspringgreen;
}
/* ABOUT CONTENT SECTION CSS END*/