body {
  margin: 0;
  padding: 0;
  background: rgb(101, 139, 139);
  /* background: rgba(12, 146, 146, 0.4); */
  /* font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Varela Round', sans-serif; */
}
